body{

background:#0a0a0a;
color:white;
font-family:Arial;
text-align:center;

}

h1{

color:orange;
font-size:40px;

}

.packages{

display:flex;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:#111;
margin:20px;
padding:20px;
border-radius:10px;
width:250px;

}

button{

background:orange;
border:none;
padding:10px 20px;
cursor:pointer;

}

.activity{

margin-top:40px;

}
